# (Global options block) Turn off automatic HTTPS
{
    auto_https off
}

# (Site block) HTTP reverse proxy and load balancing
:80 {
    reverse_proxy tasks.web:80 {
        health_path    /health
        health_interval 10s
        health_timeout  2s
        health_fails    3
        health_passes   2
    }

    # Log HTTP requests to stdout in console format
    log {
        output stdout
        format console
    }
}

# (Site block) Catch HTTPS requests and redirect them back to HTTP
:443 {
    @https {
        protocol https
    }
    redir @https http://{host}{uri} permanent
}
